.card{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

@media only screen and (max-width: 1000px){

    .card{
        background-position-x: 50%;
        
        
    }

}